/* styling bagian navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;    
    background: rgb(172,134,64);
    background: linear-gradient(180deg, rgba(255, 138, 59, 0.70) 0%, rgba(255, 177, 0, 0.34) 100%);;
    ;

}
.nav-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-links li{
    display: inline;
    margin-right: 20px;
    font-family: poppins;
    font-weight: bold;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:white;
}

.heading img{
    width: 120px;
    height:70px;
}