/* styling bagian navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;    
    background: rgb(172,134,64);
    background: linear-gradient(180deg, rgba(255, 138, 59, 0.70) 0%, rgba(255, 177, 0, 0.34) 100%);
    

}
.nav-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-links li{
    display: inline;
    margin-right: 20px;
    font-family: poppins;
    font-weight: bold;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:white;
}

.heading img{
    width: 120px;
    height:70px;
}

/* body Home */
.body-parent{
    margin: 5px 15px 20px 15px;
    padding: 15px;
    background-color: antiquewhite;
    font-family: poppins;    
}
.banner {    

    position: relative;
    border-radius: 15px;
    width: 100%;
    max-height:900px;
    position:relative;
    
}
.banner img{    

    position: relative;
    border-radius: 15px;
    width: 100%;
    max-height:900px;
    position:relative;
}
.banner-teks{
    padding: 5px 5px 5px 20px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
    font-size: 30px;
    
}

.tracking{
    padding: 5px 5px 5px 20px;
    background-color: beige;
}

.form-tracking{
    text-align: center;
}
.form-tracking input{
    border: 1px  ;
    border-radius: 42px;
    width: 1200px;
    height:40px

}
.button-track{
    background: rgb(172,134,64);
    background: linear-gradient(180deg, rgba(255, 138, 59, 0.70) 0%, rgba(255, 177, 0, 0.34) 100%);
    border-radius: 8px;
    font-family: poppins;
    border: none;
    color: black;
    padding: 16px;
    text-align: center;
    font-size: 12px;
    margin-top: 32px;
  }
 

/* Body Service */
.Flex-Services{
    background-color: DodgerBlue;
}

.items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.items > div{    
    background-color: #f1f1f1;
    width: 200px;
    margin: 10px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
.Flex-Services > h2{
    margin: 10px;
    display: flex;
    justify-content: center;
}

#item1,#item2,#item3,#item4,#item5,#item6,#item7{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.foto{
    background-color:greenyellow;
    border-radius: 10px;
}
.text-items{
    background-color: goldenrod;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.judul-items, .text-body-items{
    display: flex;
    justify-content: center;
    text-align: center;
}
.judul-items{
    background-color: blueviolet;
}
.text-body-items{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: beige;
    font-size: medium;
}

/* Body AboutUs */
.Flex-AboutUs{
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
}
.Flex-AboutUs > div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    }

/* Footer */


/* Logistics */
.logistics ul{
    column-count: 2;
    list-style-type: none;

  }
.logistics li{
    padding: 50px;
}

.logistics img{
    width: 60px;
    height:50px;
}

/* Body About Us */

.Flex-aboutUs{
    background-color: aquamarine;
}
.Flex-aboutUs > h2{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.company-body-text{
    padding: 0 5px 0 5px;
    background-color: cadetblue;
}
.company-overview{
    display: flex;
    flex-direction: row;
}
.foto-company{
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}